language: python
python:
    - "2.7"
    - "3.4"
install: "pip install -e ."
before_install:
    - sudo apt-get install build-essential m4 lzip unzip
    - git clone https://github.com/blindstore/libScarab
    - cd libScarab
    - ./scripts/install-dependencies.sh
    - make
    - sudo make install
    - cd ..
script: nosetests .
notifications:
    email: false
